<section class="content-header">
  <h1>Dashboard </h1>
  <div id="txt" class="pull-right"></div>
  <h1 class="pull-right" id="currentDate"></h1>
</section>
<section class="content">
  {{#message}}
  <div class="alert alert-danger">{{message}}</div>
  {{/message}}
  <div class="row">
    {{#each businesses}}
    <div class="col-md-12">
      <div class="box box-warning box-solid">
        <div class="box-header with-border" data-widget="collapse">
          <i class="fa fa-minus" style="display: none"></i>
          <h3 class="box-title">{{ companyName }}</h3>
          <h3 class="box-title pull-right" style="pull-right">Pending</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table style="width:100%">
            <colgroup>
              <col span="2" class="col-md-6">
            </colgroup>
            <tr>
              <td><b>Company Name</b>: {{ companyName }}</td>
              <td><b>Address</b>: 9500 Gilman Dr, La Jolla, CA 92093</td>
            </tr>
            <tr>
              <td><b>Owner</b>: <span>{{ fname }} {{ lname }}</span></td>
              <td><b>Email</b>: {{ email }}</td>
            </tr>
            <tr>
              <td>
                <b>Walk-ins:</b>
                {{#if walkins}}Yes{{else}}No{{/if}}
              </td>
              <td><b>Phone</b>: {{ phone }}</td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    {{/each}}
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-danger box-solid">
        <div class="box-header with-border" data-widget="collapse">
          <i class="fa fa-minus" style="display: none"></i>
          <h3 class="box-title">Pint 2.0</h3>
          <h3 class="box-title pull-right" style="pull-right">Late</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table style="width:100%">
            <colgroup>
              <col span="2" class="col-md-6">
            </colgroup>
            <tr>
              <td><b>Company Name</b>: Pint 2.0</td>
              <td><b>Address</b>: 2105 Garnet Ave. San Diego, CA 92109</td>
            </tr>

            <tr>
              <td><b>Owner</b>: Thomas A. Powell</td>
              <td><b>Email</b>: tpowell@pint.com</td>
            </tr>
            <tr>
              <td><b>Walk-ins</b>: No</td>
              <td><b>Phone</b>: 8585858888</td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-12">
      <div class="box box-success box-solid">
        <div class="box-header with-border" data-widget="collapse">
          <i class="fa fa-minus" style="display: none"></i>
          <h3 class="box-title">Fubar</h3>
          <h3 class="box-title pull-right" style="pull-right">Paid</h3>
        </div> <!-- /.box-header -->
        <div class="box-body">
          <table style="width:100%">
            <colgroup>
              <col span="2" class="col-md-6">
            </colgroup>
            <tr>
              <td><b>Company Name</b>: Fubar</td>
              <td><b>Address</b>: 2105 Garnet Ave. San Diego, CA 92109</td>
            </tr>

            <tr>
              <td><b>Owner</b>: Gev Gev</td>
              <td><b>Email</b>: gev@dev.gev</td>
            </tr>
            <tr>
              <td><b>Walk-ins</b>: No</td>
              <td><b>Phone</b>: 8585858888</td>
            </tr>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div>
</section>
