<section class="content-header">
  <h1 style="display: inline-block;">Visitor Queue</h1>
  <div class="pull-right">
    <div id="currentDate"></div>
    <div id="txt"></div>
  </div>
</section>

<section class="content">
  {{#if message}}
  <div class="alert alert-danger">{{message}}</div>
  {{/if}}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="table-responsive">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Doctor</th>
                  <th>Appointment Date</th>
                  <th>Appointment Time</th>
                  <th>Check In Time</th>
                  <th>Status</th>
                  <th>Completed Form</th>
                </tr>
              </thead>
              <tbody id="appointment-list">
                {{#each patients}}
                <tr onclick = "highlight()">
                  <td>{{visitor}}</td>
                  <td>{{doctor}}</td>
                  <td>{{date}}</td>
                  <td>{{time}}</td>
                  <td>{{currentTime}}</td>
                  <td>{{state}}</td>
                  <td><button class="btn btn-sm btn-flat btn-info" onclick="openFormResponse(`{{formResponse}}`)" data-toggle="modal" data-target="#myModal{{id}}">View Form</button></td>

                  <!-- Modal -->
                  <div class="modal fade" id="myModal{{id}}" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Check-in Form</b></h4>
                        </div>
                        <div class="modal-body">
                          <h4><b>Patient: </b>{{ visitor }}</h4>
                          <h4><b>Form Responses</b></h4>
                          <ol>
                            {{#each formResponse}}
                            <li>
                              <div>
                                <b>{{ label }}</b>
                                <p>{{ value }}</p>
                              </li>
                            {{/each}}
                          </ol>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <a href="#" class="btn btn-sm btn-success btn-flat pull-right" onclick = "checkIn()">Check In</a>
          <a href="#" class="btn btn-sm btn-warning btn-flat pull-right" onclick = "checkOut()">Check Out</a>
          <a href="#" class="btn btn-sm btn-info btn-flat pull-right" onclick = "reschedule()">Reschedule</a>
        </div>
        <!-- /.box-footer -->
      </div>
    </div>
  </div>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/visitor-list.js"></script>
