<!DOCTYPE html>
<html>
<head>
  <title>Confidentiality Agreement</title>

  {{>styles}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <style>
  .customBG {
    background: rgb({{bg.r}}, {{bg.g}}, {{bg.b}});
  }

  .container-checkin {
    background-color: {{containerBg}};
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #071C33;
  }
  footer h4 {
    color: #eeeeee;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 8px #ffae00;
  }
  </style>
</head>
<body class="customBG">
  <div>
    <div class="row" style="margin-top: 150px; margin-bottom: 100px;">
      <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 center-block" style="float:none; padding: 20px">
        <div class="box">
          <div class="box-header">
            <h1>Confidentiality Agreement</h1>
            <br>
            <h3 class="box-title">Please read the Non-Disclosure Agreement below and once you are done, please type in your signature below to finish the check-in process.</h3>
          </div>
          <div class="box-body">
            <div class="text-center">
              <a href="http://www.startupprofessionals.com/linked/non-disclosure-agreement-mutual-generic-blank.pdf" target="_blank">
                <h4 class="lead" style="color: blue;">Non-Disclosure Agreement</h4>
              </a>
            </div>
            <br>
            <div class="row innerInfo">
              <div class="col-md-6 col-md-offset-3 form-group">
                <form action="sign" method="post">
                  <label class="control-label">Signature</label>
                  <input class="input form-control" type="text" name="sig">
                  <br>
                  {{#if error}}
                  <div class="alert alert-danger" role="alert">{{ error }}</div>
                  {{/if}}
                  <button class="btn btn-lg btn-success btn-block" type="submit">Sign</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <h4>Powered by ENQUÉ</h4>
  </footer>
</body>
</html>
